.nav-link {
    font-size: 17px;
    color: white;
    margin-left: 70px;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.nav-link:hover {
    font-size: 17px;
    color: orange;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.navbar-brand {
    color: rgb(234, 132, 15);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50px;
}

.navvv {
    margin-left: 34%;
}

button {
    width: 200px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 156, 19);
    color: white;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.8s ease;
}

button:hover {
    border: none;
    border-radius: 5px;
    background-color: rgb(190, 122, 5);
    color: white;
    font-size: 19px;
}

.header {
    background-image: url('../media/restau.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

}

.smart2 {
    background: linear-gradient(to right, #000000ab, #000000e2);
    height: 300px;
    width: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaar {
    background-color: black;
}

.counter {
    font-size: 18px;
    padding: 2px;
    color: orange;
    border-left: 5px solid orange;

}

#h3 {
    font-size: 45px;
    font-weight: bold;
}

#h4 {
    font-size: 45px;
    font-weight: bold;
}

.bordera {
    font-size: 20px;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 2px solid rgb(255, 128, 0);
}

.cardchefs {
    width: 250px;

}

.our-chefs {
    height: 300px;
    width: 250px;
    background-color: #fafafa;
    border: none;
    overflow: hidden;
    transition: all 0.8s ease;
}

.our-chefs:hover {
    height: 390px;
    width: 250px;
    background-color: transparent;
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgb(233, 120, 6);
    overflow: hidden;
}

.imgg {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.icons {
    height: 65px;
    border: none;
    padding: 5px;
    background-color: rgb(255, 149, 0);
    border-radius: 15px;
}

.link {
    font-size: 18px;
    color: orange;
    border-right: 3px solid orange;
    padding: 8px;
    font-family: cursive;
}

.nav-link {
    font-size: 17px;
    color: white;
    margin-left: 70px;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.nav-link:hover {
    font-size: 17px;
    color: orange;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.navbar-brand {
    color: rgb(234, 132, 15);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50px;
}

.navvv {
    margin-left: 34%;
}

button {
    width: 200px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 156, 19);
    color: white;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.8s ease;
}

button:hover {
    border: none;
    border-radius: 5px;
    background-color: rgb(190, 122, 5);
    color: white;
    font-size: 19px;
}

.header {
    background-image: url('../media/restau.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

}

.smart2 {
    background: linear-gradient(to right, #000000ab, #000000e2);
    height: 300px;
    width: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaar {
    background-color: black;
}

.footer1 {
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    margin: 0%;
}

.link {
    font-size: 18px;
    color: orange;
    border-right: 3px solid orange;
    padding: 8px;
    font-family: cursive;
}

.warning {
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section {
    background-color: #f8f8f8;
}

.food {
    border-right: 3px solid orange;
    text-align: center;
}

.contact {
    font-size: 35px;
    font-weight: bold;
}

.food2 {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.div1 {
    background-color: orange;
    padding: 50px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.info {
    font-size: 20px;
}

.div1:hover {
    background-color: #f8f8f8;
    padding: 50px;
    border-radius: 15px;
}
.nav-link{
    font-size: 17px;
    color: white;
    margin-left: 70px;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.nav-link:hover{
    font-size: 17px;
    color: orange;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}
.navbar-brand{
    color: rgb(234, 132, 15);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50px;
}
.navvv{
    margin-left: 34%;
}
button{
    width: 200px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 156, 19);
    color: white;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.8s ease;
}
button:hover{
    border: none;
    border-radius: 5px;
    background-color:  rgb(190, 122, 5);
    color: white;
    font-size: 19px;
}
.header {
    background-image: url('../media/restau.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

}

.smart2 {
    background: linear-gradient(to right, #000000ab, #000000e2);
    height: 300px;
    width: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbaar{
    background-color: black;
}

.link {
    font-size: 18px;
    color: orange;
    border-right: 3px solid orange;
    padding: 8px;
    font-family: cursive;
}
.service{
    width: 290px;
    height: 290px;
    z-index: 1;

}
.iconscard{
    color: orange;
    font-size: 50px;
    transition: all 0.6s ease ;

}
.iconscard:hover{
    color: white;
    font-size: 50px;
}
.card-body{
    background-color: white;
    /* box-shadow:0 4px 8px rgba(0, 0, 0, 0.709); */
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: all 0.6s ease ;
}
.card-body:hover{
    background-color: rgb(213, 120, 20);
    color: white;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.709);
}
.food{
    border-right:  3px solid orange;
    text-align: center;
}
.warning{
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.food2{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.menu1,.menu2,.menu3{
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: all0.5s ease;
}
.menu1:hover,.menu2:hover,.menu3:hover{
    border-bottom: 2px solid rgb(236, 156, 9);
}
.menu1:focus,.menu2:focus,.menu3:focus{
    border-bottom: 2px solid rgb(236, 156, 9);
}
.nav-link{
    font-size: 17px;
    color: white;
    margin-left: 70px;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}

.nav-link:hover{
    font-size: 17px;
    color: orange;
    /* border-bottom: 2px solid rgb(246, 163, 8); */
}
.navbar-brand{
    color: rgb(234, 132, 15);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50px;
}
.navvv{
    margin-left: 34%;
}
button{
    width: 200px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgb(220, 156, 19);
    color: white;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.8s ease;
}
button:hover{
    border: none;
    border-radius: 5px;
    background-color:  rgb(190, 122, 5);
    color: white;
    font-size: 19px;
}
.header {
    background-image: url('../media/restau.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

}

.smart2 {
    background: linear-gradient(to right, #000000ab, #000000e2);
    height: 300px;
    width: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbaar{
    background-color: black;
}

.link {
    font-size: 18px;
    color: orange;
    border-right: 3px solid orange;
    padding: 8px;
    font-family: cursive;
}
.service{
    width: 290px;
    height: 290px;
    z-index: 1;

}
.iconscard{
    color: orange;
    font-size: 50px;
    transition: all 0.6s ease ;

}
.iconscard:hover{
    color: white;
    font-size: 50px;
}
.card-body{
    background-color: white;
    /* box-shadow:0 4px 8px rgba(0, 0, 0, 0.709); */
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: all 0.6s ease ;
}
.card-body:hover{
    background-color: rgb(213, 120, 20);
    color: white;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.709);
}
.food{
    border-right:  3px solid orange;
    text-align: center;
}
.warning{
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.food2{
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.menu1,.menu2,.menu3{
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: all0.5s ease;
}
.menu1:hover,.menu2:hover,.menu3:hover{
    border-bottom: 2px solid rgb(236, 156, 9);
}
.menu1:focus,.menu2:focus,.menu3:focus{
    border-bottom: 2px solid rgb(236, 156, 9);
}
